@{
    ViewData["Title"] = "Home Page";
}
<div class="homeIndex">
    <div class="text-center">
        <h1>ABC Retail</h1>
        <p>Your trustworthy online shopping center</p>
        
    </div>
 
    <br />
    <div class="text-center">
        <p>ABC Retail is to be the most customer centric online shopping destination in Africa and <br />
            has built a foundation on the simple concept that the customer comes first.


            </p>
    </div>
</div>



<div class="homeAccount">
    <p><b>Login or register in our site to view your cart and orders.</b> </p>
    <br />
    <a href="/Account/Login" class="accountBtn">View now</a>
</div>

<div class="homeProduct">
    <p><b>View our trendy products and stylish clothes.</b> </p>
    <br />
    <a href="/Product/Index" class="productBtn">View now</a>
</div>
<div class="homeCart">
    <p><b>View your cart and procceed to payment.</b></p>
    <br />
    <a href="/Cart/Index" class="cartBtn">View now</a>
</div>


@* References
ForeverNoobie, 2015. How to have a simple .html page in Asp.net MVC. [Online]
Available at: https://stackoverflow.com/questions/28964848/how-to-have-a-simple-html-page-in-asp-net-mvc
Microsoft, 2022. Creating Custom HTML Helpers (C#). [Online]
Available at: https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions-1/views/creating-custom-html-helpers-cs
Panda, A., 2014. Creating Custom HTML Helpers in MVC. [Online]
Available at: https://www.c-sharpcorner.com/blogs/creating-custom-html-helpers-in-mvc
Vladmir, 2018. Generating HTML page in C# - Best practices. [Online]
Available at: https://stackoverflow.com/questions/50774899/generating-html-page-in-c-sharp-best-practices

 *@